<p>juegos works!</p>
<div id="barra">
    <div id="buttonDesplegable" (click)="toggleDiv()">
      <img src="../../assets/images/icons/desplegable.svg">
    </div>
    <div routerLink="/home" id="logo">
      <img src="../../assets/images/icons/logo.svg" width="100%">
    </div>
    <div id="empresa">
      <p>Videojuegos Roque Nublo</p>
    </div>
  </div>
  
  <div *ngIf="mostrarDiv" id="barraInferior">
    <div routerLink="/juegos" id="Juegos">
      <img src="../../assets/images/icons/gamepad.svg">
      <p>Juegos</p>
    </div>
    <div id="Cesta">
      <p>Cesta</p>
    </div>
    <div id="Cuenta">
      <p>Cuenta</p>
    </div>
    <div id="Login">
      <img src="../../assets/images/icons/user.svg">
      <p id="acceso" *ngIf="miToken==0" class="acceso" routerLink="/login">Iniciar sesion</p>
      <p i id="acceso" *ngIf="miToken != 0" class="acceso" (click)="logout()"><strong>Usuario</strong> {{userName}}</p>
    </div>
  </div>

  
  <div id="barraInferJuegos">
    <ul>
    <li><h3>Proximamente</h3></li>
    <li><h3>Ofertas</h3></li>
  </ul>
  </div>