.body{
    background-color: var(--colorcard);
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    /* align-items: center; */
}

.img{
    width: 50%;
}

.info{
    color: var(--colorleter);
}