<div class="contact-page">

  <div id="barra">
    <div id="buttonDesplegable" (click)="toggleDiv()">
      <img src="../../assets/images/icons/desplegable.svg">
    </div>
    <div routerLink="/home" id="logo">
      <img src="../../assets/images/icons/logo.svg" width="100%">
    </div>
    <div id="empresa">
      <p>Videojuegos Roque Nublo</p>
    </div>
  </div>

  <div *ngIf="mostrarDiv" id="barraInferior">
    <div routerLink="/juegos" id="Juegos">
      <img src="../../assets/images/icons/gamepad.svg">
      <p>Juegos</p>
    </div>
    <div id="Cesta">
      <p>Cesta</p>
    </div>
    <div id="Cuenta">
      <p>Cuenta</p>
    </div>
    <div id="Login">
      <img src="../../assets/images/icons/user.svg">
      <p id="acceso" *ngIf="miToken==0" class="acceso" routerLink="/login">Iniciar sesion</p>
      <p i id="acceso" *ngIf="miToken != 0" class="acceso" (click)="logout()"><strong>Usuario</strong> {{userName}} <img
          src="../../assets/images/logout-dos.png" width="25"></p>
    </div>
  </div>
  
  <div class="back">
    <div class="form">
      <form (ngSubmit)="submitForm()" #miFormulario="ngForm">
        <div class="form-group">
          <label for="email">Correo Electrónico:</label>
          <input type="email" id="email" name="email" [(ngModel)]="formData.email" required email />
          <p>ejemplo: example@example.example</p>
        </div>

        <div class="form-group">
          <label for="asunto">Asunto:</label>
          <input type="text" id="asunto" name="asunto" [(ngModel)]="formData.asunto" required />
        </div>

        <div class="form-group">
          <label for="descripcion">Descripción del Asunto:</label>
          <textarea id="descripcion" name="descripcion" [(ngModel)]="formData.descripcion" required></textarea>
        </div>

        <button type="submit" [disabled]="miFormulario.invalid">Enviar</button>
      </form>
    </div>
  </div>

  <div id="footer">
    <div routerLink="/home" id="contact">
      <p>Volver</p>
    </div>
    <div *ngIf="!light" (click)="nocturne()" id="buttonDark">
      <img src="../../assets/images/icons/darkmode.svg">
    </div>
    <div *ngIf="light" (click)="nocturne()" id="buttonLight">
      <img src="../../assets/images/icons/darkmode.svg">
    </div>
  </div>
</div>